@import '../../styles/theme.less';

.more {
  display: flex;
  align-items: center;
  color: #A3A3A3;
  font-size: 24rpx;
  line-height: 1;
}

.arrow {
  margin-left: 6rpx;
  font-size: 24rpx;
}

.pressed {
  opacity: 0.6;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 24rpx;
  box-sizing: border-box;
}

.cell {
  width: calc((100% - 16rpx) / 2);
  margin-bottom: 16rpx;
}

.cell:nth-child(odd) {
  margin-right: 16rpx;
}
